.my-movies{
    margin-top: 24px;
}

.my-movies h1{
    margin-bottom: 14px;
}

.my-movies span{
    font-size: 18px;
}

.my-movies ul{
width: 720px;
}

.my-movies ul li{
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 14px;

}

.my-movies div{
    display: flex;
    justify-content: center;
    align-items: center;
}

.my-movies div a{
    text-decoration: none;
    color: #116FEB;
    margin-right: 14px;
}

.my-movies button{
    font-size: 15px;
    border: 0;
    outline: none;
    padding: 12px;
    border-radius: 4px;
    cursor: pointer;
}